$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #f0f0f0;
$background-alternative-color: #e0fbfc;
$main-width: 50%;
$container-width: 60%;
$background-size: cover;
$main-margin: auto;
$container-text-align:center;
$font-family: 'Caveat', cursive;
$font-weight-normal: normal;
$font-weight-bold: bold;